@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #171717;
  --brand: #ffd500;
  --brand-bright: #ffee00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-bright: var(--brand-bright);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

